@page "/category"
@inject ICategoryRepository _categoryRepository
@inject IJSRuntime _jsRuntime
@attribute [Authorize]

<_DeleteConfirmation ConfirmationChanged="ConfirmDelete_Click"></_DeleteConfirmation>
<div class="row mt-4">
	<div class="col-6">
		<h4 class="cardcard-title text-primary">Category List</h4>
	</div>
	<div class="col-2 offset-2">
		<a href="category/create" class="btn btn-primary form-control">Add New Category</a>
	</div>
</div>
<div class="col-6">
	@if (Categories.Any())
	{
			<table class="table table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				@foreach(var catObj in Categories)
				{
					<tr>
						<td>@catObj.Name</td>
						<td>
							<NavLink href="@($"category/edit/{catObj.Id}")" class="btn btn-primary mx-1">Edit</NavLink>
							<button class="btn btn-danger" @onclick="()=>HandleDelete(catObj.Id)">Delete</button>
						</td>
					</tr>
				}
			</tbody>
		</table>
	}
	else
	{
		if(IsLoading)
		{
			<div class="text-center">
				<img src="/images/loader.gif">
			</div>
		}
		else
		{
			<p>No record found</p>
		}
	}
</div>

@code {
	private IEnumerable<CategoryDTO> Categories { get; set; } = new List<CategoryDTO>();
	private bool IsLoading { get; set; }
	private int DeleteCategoryId { get; set; } = 0;

	protected override async Task OnAfterRenderAsync(bool firstRender) // if we use on initialized, there will be some delay in that case
	{
		if (firstRender)
		{
			await LoadCategories();
		}

	}
	private async Task LoadCategories()
	{
		IsLoading = true;
		StateHasChanged();
		Categories = await _categoryRepository.GetAll();
		IsLoading = false;
		StateHasChanged(); // invoke state has changed. this will notify the application that the state has changed and need to do some rendering
	}

	private async Task HandleDelete(int id)
	{
		DeleteCategoryId = id;
		await _jsRuntime.InvokeVoidAsync("ShowDeleteConfirmationModal");
	}
	public async Task ConfirmDelete_Click(bool isConfirmed)
	{
		if(isConfirmed && DeleteCategoryId != 0)
		{
			// delete
			await _categoryRepository.Delete(DeleteCategoryId);
			await LoadCategories();
			await _jsRuntime.InvokeVoidAsync("HideDeleteConfirmationModal");

		}
	}
}
